ul {
  /* Just to check if the stylesheet has an effect*/
  /* color: red; */

  /* Following line allows to adapt the list items indention. Unfortunately it causes the items dots to disappear */
  /* padding-inline-start: 20px; */

  margin: 0.5em;
}

li {
  margin-top: -0.1em;
  /* Concerning font size, see div */
  font-size: 15.28px;
}

h1 {
  font-size: 26.2px;
  font-weight: bold;
  margin-top: 7.3px;
  margin-bottom: 7.3px;
}

h1>span {
  font-size: 26.2px;
}

p {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 15.28px;
}

div {
  /* The JEditorPane often encapsules parts of a text in divs. For an unknown reason, html2pdf renders these
   parts with a slightly different font size than the text outside of diffs. The font size below is a correction.
   The size defined in here will be multiplied with a dynamic factor before rendering. See initHTMLStyles() */
  font-size: 15.28px;
}

span {
  /* See div */
  font-size: 15.28px;
}
